{{!--
 Capitan buttons v2.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2016-09-01
 MIT License (MIT)
--}}
<h4 class="sg__hl sg__hl--subline">Button defaults</h4>

<button class="btn">Button</button>
<input type="button" class="btn" value="Input button" />
<a href="#" class="btn">Link button</a>
<button class="btn" disabled>Button disabled</button>


<h4 class="sg__hl sg__hl--subline">Button Variants</h4>

<button class="btn btn--block">.btn--block</button>


<h4 class="sg__hl sg__hl--subline">Button Styles</h4>

<button class="btn btn--primary">.btn--primary</button>
<button class="btn btn--secondary">.btn--secondary</button>
<button class="btn btn--ghost">.btn--ghost</button>
<button class="btn btn--cta">.btn--cta</button>


<h4 class="sg__hl sg__hl--subline">Button Group alignments</h4>

<div class="btn-group">
	<button class="btn">Button</button>
	<button class="btn">Button</button>
</div>

<div class="btn-group btn-group--centered">
	<button class="btn">Button</button>
	<button class="btn">Button</button>
</div>

<div class="btn-group btn-group--right">
	<button class="btn">Button</button>
	<button class="btn">Button</button>
</div>

<div class="btn-group btn-group--inline">
	<button class="btn util-left">Button</button>
	<button class="btn util-right">Button</button>
</div>
