@charset "utf-8";

/**
 * Capitan variables.scss v3.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2015-06-27
 * MIT License (MIT)
 */


/* ==========================================================================
   Base settings
   ========================================================================== */

/* base path */
$folder-path: '%%public%%/';

/* Base sizes */
$base-em: 16;

/* Body font size */
$body-font-size-px: 16;
$body-font-size: percentage(($body-font-size-px / $base-em) * 100 / 100); // in percent

/* Font Style */
$ff-regular: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$ff-icon: iconfont !default;


/* ==========================================================================
   Grid-System
   ========================================================================== */

// Grid breakpoints

/* <@breakpoints */
$featurephone: 320;
$smartphone: 480;
$tablet: 768;
$desktop: 992;
$retina: 1200;

/* breakpoints@> */


// Quickly modify global grid styling
$enable-flex: false !default;
$enable-grid-classes: true !default;

// Grid Container max- and min-width dimensions
$container-max-widths: $retina;
$container-min-widths: $featurephone;

// Number of columns in the grid.
$grid-columns: 12 !default;
// Padding between columns.
$grid-gutter-width: 30px !default;
// Gets divided in half for the left and right.
$grid-gutter-width-half: $grid-gutter-width / 2;
$grid-columns:               12;
$grid-gutter-width-base:     $grid-gutter-width;
$grid-gutter-widths: (
		xs: $grid-gutter-width-base,
		sm: $grid-gutter-width-base,
		md: $grid-gutter-width-base,
		lg: $grid-gutter-width-base,
		xl: $grid-gutter-width-base
);

// map for getBreakpointList() function
$js-breakpoints: (
'xs': $featurephone,
'sm': $smartphone,
'md': $tablet,
'lg': $desktop,
'xl': $retina
);

// map for bootstrap mixins
$grid-breakpoints: (
'xs': $featurephone + px,
'sm': $smartphone + px,
'md': $tablet + px,
'lg': $desktop + px,
'xl': $retina + px
) !default;

// map for respondMin/respondMax mixin
$breakpoints: (
'min-xs': pxToEm($featurephone),
'min-sm': pxToEm($smartphone),
'min-md': pxToEm($tablet),
'min-lg': pxToEm($desktop),
'min-xl': pxToEm($retina),
'max-xs': pxToEm($smartphone - 1),
'max-sm': pxToEm($tablet - 1),
'max-md': pxToEm($desktop - 1),
'max-lg': pxToEm($retina - 1)
);


/* ==========================================================================
   Colors
   ========================================================================== */

/* <@colors */
$colors: (
'black': #000,
'white': #fff,
'grey': #666,
'grey-dark': #333,
'grey-light': #ccc,
'grey-lightest': #fafafa,
'placeholder': #999,
'ci': #c00,
'ci-hover': #a00,
'error': #9e1726,
'success': #10B044,
'warning': #f0ad4e,
'info': #2989D8
);

/* colors@> */


/* ==========================================================================
   Icons
   ========================================================================== */

/* <@icons */
$icons: (
close: '\e900'
);

/* icons@> */