@charset "utf-8";

/**
 * Capitan alert v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2016-09-05
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';


$component: 'alert';

// block
%#{$component} {
	border: solid 1px color('black');
	border-top-width: 6px;
	padding: 5px $grid-gutter-width-half;
	margin-bottom: $grid-gutter-width;

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}
}


// element


// modifier
.#{$component}--info {
	border-color: color('info');
}

.#{$component}--warning {
	border-color: color('warning');
}

.#{$component}--error {
	border-color: color('error');
}

.#{$component}--success {
	border-color: color('success');
}


// component class selector
.#{$component} {
	@extend %#{$component};
}