@charset "utf-8";
/**
 * Capitan alert v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2015-07-28
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

.alert {
	border: solid 1px color('black');
	border-top-width: 6px;
	padding: 5px $grid-gutter-width-half;
	margin-bottom: $grid-gutter-width;

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}

	&--info {
		border-color: color('info');
	}

	&--warning {
		border-color: color('warning');
	}

	&--error {
		border-color: color('error');
	}

	&--success {
		border-color: color('success');
	}
}
