@charset "utf-8";

/**
 * Capitan noscript.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2016-09-05
 * MIT License (MIT)
 */

noscript {
	color: color('black');
	margin: 0.2em 0;
	background: color('grey-lightest');
	padding: 0.2em 0;
	text-align: center;

	p {
		margin: 0 auto;
		max-width: $container-max-widths;
	}
}