{{!-- components/noscript --}}
<noscript>
	<p><strong>JavaScript scheint in Ihrem Browser deaktiviert zu sein.</strong></p>
	<p>Sie müssen JavaScript in Ihrem Browser aktivieren um alle Funktionen der Seite nutzen zu können.</p>
</noscript>
