@charset "utf-8";
/**
 * Capitan icon-font.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2015-06-27
 * MIT License (MIT)
 */


/* ==========================================================================
   Icon Font settings
   ========================================================================== */

%util-icon {
	font-family: 'iconfont', sans-serif;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.util-icon--before:before,
.util-icon--after:after {
	@extend %util-icon;
}

@each $name, $char in $icons {
	.util-icon--before.util-icon--#{$name}:before,
	.util-icon--after.util-icon--#{$name}:after {
		content: $char;
	}
}