{{!-- layouts/base.hbs --}}
<!doctype html>
<html class="no-js" lang="de">
	<head>
		<title>{{#if title}}{{title}}{{else}}capitan{{/if}}</title>

		{{!-- Custom <head> content per page could be added. --}}
		{{#> head-block}}
		{{!--
		The `includes/head` partial is the default content,
		but can be overridden.
		--}}
		{{> head }}
		{{/head-block}}
	</head>
	<body>
		{{!-- Custom service content goes here. --}}
		{{#> services-block}}
		{{!--
		The `component/browsehappy` and  `component/noscript` partial are
		the default content, but can be overridden.
		--}}
		{{> browsehappy }}
		{{> noscript }}
		{{/services-block}}

		{{!-- Main content goes here. --}}
		{{#> main-block}}
		{{/main-block}}

		{{!-- Custom <footer> content per page could be added. --}}
		{{#> footer-block}}
		{{!--
		The `includes/footer` partial is the default content,
		but can be overridden.
		--}}
		{{> footer }}
		{{/footer-block}}

		{{!-- Custom scripts per page can be added. --}}
		{{#> scripts-block}}
		{{!--
		The `includes/jsfooter` partial is the default content,
		but can be overridden.
		--}}
		{{> jsfooter }}
		{{/scripts-block}}
	</body>
</html>
