{{!-- includes/grid.hbs --}}
<div class="row">
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-3 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-3 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-3 .col-md-1</div>
	<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-3 .col-md-1</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2</div>
	<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2</div>
	<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2</div>
	<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2</div>
	<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2</div>
	<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2
	</div>
</div>

<div class="row">
	<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
	<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
	<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
	<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
</div>

<div class="row">
	<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
	<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
	<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
</div>

<div class="row">
	<div class="col-sm-5" style="overflow:hidden;">.col-sm-5</div>
	<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
	<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
</div>

<div class="row">
	<div class="col-sm-6" style="overflow:hidden;">.col-sm-6</div>
	<div class="col-sm-6" style="overflow:hidden;">.col-sm-6</div>
</div>

<div class="row">
	<div class="col-sm-7" style="overflow:hidden;">.col-sm-7</div>
	<div class="col-sm-5" style="overflow:hidden;">.col-sm-5</div>
</div>

<div class="row">
	<div class="col-sm-8" style="overflow:hidden;">.col-sm-8</div>
	<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-9" style="overflow:hidden;">.col-sm-9</div>
	<div class="col-sm-6 col-md-3" style="overflow:hidden;">.col-sm-3</div>
</div>

<div class="row">
	<div class="col-sm-10" style="overflow:hidden;">.col-sm-10</div>
	<div class="col-sm-2" style="overflow:hidden;">.col-sm-2</div>
</div>

<div class="row">
	<div class="col-sm-11" style="overflow:hidden;">.col-sm-11</div>
	<div class="col-sm-1" style="overflow:hidden;">.col-sm-1</div>
</div>

<div class="row">
	<div class="col-sm-12" style="overflow:hidden;">.col-sm-12</div>
</div>

<h3 class="sg__hl sg__hl--subline">Nested Grids</h3>
<div class="row">
	<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
	<div class="col-sm-9" style="overflow:hidden;">
		.col-sm-9
		<div class="row">
			<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
			<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
			<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
		</div>
		<h3 class="sg__hl sg__hl--subline">Nested with .container</h3>
		<div class="container">
			<div class="row">
				<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
				<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
				<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
			</div>
		</div>
	</div>
</div>
