{{!--
 Capitan alert v2.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2016-12-22
 MIT License (MIT)
--}}
<div class="alert {{class}}">
	{{#if copy}}
	<p>{{copy}}</p>
	{{/if}}
	{{#if msgs}}
	<ul>
		{{#each msgs}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	{{/if}}
</div>
